{% set actual_route = app.request.attributes.get('_route') %}  

    <!-- Sidebar -->
    <aside id="page-sidebar" class="nav-collapse collapse">

        <!-- Sidebar search -->
<!--         <form id="sidebar-search" action="page_search_results.html" method="post">
            <div class="input-append">
                <input type="text" placeholder="Search.." class="remove-box-shadow remove-transition remove-radius">
                <button><i class="icon-search"></i></button>
            </div>
        </form> -->
        <!-- END Sidebar search -->

        <style type="text/css">
            #primary-nav ul li h5
            {
                width: 100%;
                margin-left: 15px;
                font-size:12px;
            }
        </style>

        <!-- Primary Navigation -->
        <nav id="primary-nav">
            <ul>
                <li>
                    <a href="{{ path('infect_dashboard') }}" {% if actual_route == 'infect_dashboard' %}class="active"{% endif %}><i class="icon-fire"></i>Dashboard</a>
                </li>
                <li><br></li>

                <li><h5>{% trans %}Resistenz{% endtrans %}</h5></li>
                <li>
                    <a href="{{ path('resistance') }}" {% if actual_route == 'resistance' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}resistance{% endtrans %}</a>
                </li>

                <li><h5>{% trans %}Bakterien{% endtrans %}</h5></li>
                <li>
                    <a href="{{ path('bacteria') }}" {% if actual_route == 'bacteria' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}bacteria{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('genus') }}" {% if actual_route == 'genus' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}genus{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('species') }}" {% if actual_route == 'species' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}species{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('grouping') }}" {% if actual_route == 'grouping' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}grouping{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('shape') }}" {% if actual_route == 'shape' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}shape{% endtrans %}</a>
                </li>

                <li><h5>{% trans %}Antibiotika{% endtrans %}</h5></li>
                <li>
                    <a href="{{ path('compound') }}" {% if actual_route == 'compound' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}compound{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('substanceclass') }}" {% if actual_route == 'substanceclass' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}substanceclass{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('substance') }}" {% if actual_route == 'substance' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}substance{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('drug') }}" {% if actual_route == 'drug' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}drug{% endtrans %}</a>
                </li>

                <li><h5>{% trans %}Diagnose{% endtrans %}</h5></li>
                <li>
                    <a href="{{ path('diagnosis') }}" {% if actual_route == 'diagnosis' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}diagnosis{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('therapy') }}" {% if actual_route == 'therapy' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}therapy{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('topic') }}" {% if actual_route == 'topic' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}topic{% endtrans %}</a>
                </li>

                <li><h5>{% trans %}Allgemeine Einstellungen{% endtrans %}</h5></li>
                <li>
                    <a href="{{ path('country') }}" {% if actual_route == 'country' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}country{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('language') }}" {% if actual_route == 'language' %}class="active"{% endif %}><i class="icon-fire"></i>{% trans %}language{% endtrans %}</a>
                </li>

            </ul>
        </nav>
        <!-- END Primary Navigation -->
    </aside>
    <!-- END Sidebar -->