{% extends 'InfectBackendBundle::main.html.twig' %}


{% block javascript %}
{% endblock %}

{% block pageTitle %}
     {% trans %}Therapy{% endtrans %} 
{% endblock %}

{% block content %}

            <form action="{{ path('therapy_new') }}" method="POST">
            <button type="submit" class="btn btn-success">
                {% trans with {'%entity%': 'Therapy'|trans} %}%entity% hinzufügen{% endtrans %}
            </button>        
        </form>
    
    <table id="datatable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="span1"></th>
                <th>{% trans %}Diagnosis{% endtrans %}</th>
                <th>{% trans %}Compounds{% endtrans %}</th>                                   
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('therapy_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="{% trans %}editieren{% endtrans %}" class="btn btn-mini btn-success"><i class="icon-pencil"></i></a>
                        <a href="{{ path('therapy_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="{% trans %}Details{% endtrans %}" class="btn btn-mini btn-info"><i class="icon-zoom-in"></i></a>
                    </div>
                </td>
                <td>
                    {% if entity.diagnosis %}
                        {% for locale in entity.diagnosis.locales %}
                            <span class="label label-info" style="min-width:25px;text-align:center;margin-right:5px;">{{ locale.language.name }}</span> {{ locale.title }}<br>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if entity.compounds|length > 0 %}
                        {% for compound in entity.compounds %}
                            {{ compound }}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>     

{% endblock %}

