    {% extends 'InfectBackendBundle::main.html.twig' %}



{% block javascript %}
{% endblock %}

{% block pageTitle %}
    {% trans %}Resistance{% endtrans %}
{% endblock %}

{% block content %}

    <form action="{{ path('bacteriaSubstanceClass') }}" method="POST" style="float:left;margin-right:10px;">
        <button type="submit" class="btn btn-info" value="">{% trans %}Zurück{% endtrans %}</button>
    </form>

    <form action="{{ path('bacteriaSubstanceClass_delete', { 'id_bacteria': entity.bacteria.id, 'id_substanceClass': entity.substanceClass.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">{% trans %}Löschen{% endtrans %}</button>
    </form>

    <table id="datatable" class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>resistanceUser</th>
                <td>{{ entity.resistanceUser }}</td>
            </tr>
            <tr>
                <th>resistanceImport</th>
                <td>{{ entity.resistanceImport }}</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}


